<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">  
      
</head>
<body>
    <div class="vd">
        <video autoplay loop muted plays-inline class="back-vedio">
            <source src="_import_60cc3145946a68.81672487.mp4" type="video/mp4">
        </video>
        <nav>
            <form class="search-form" action="#" method="get">
                <input type="text" name="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <img src="" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#vp">Fashion</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>Shopeasy</h1>
            <form action="index" method="POST">
                <input type="submit" value="Explore">
            </form>
        </div>
    </div>
</body>
</html>
